In [1]:
txt = " abc def ghi " 
txt.lstrip()

'abc def ghi '

In [2]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

#### Using Escape Character ####

In [6]:
#Using double quotes in the string is not allowed. 
my_str = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (2196249444.py, line 2)

In [7]:
#Using escape character to allow illegal characters 
my_str = "My favourite series is \"Game of Thrones\"" 
print(my_str)

My favourite series is "Game of Thrones"

#### LIST ####
1) List is an ordered sequence of items. 
 
2) We can have different data types under a list. E.g we can have integer, float and string items in 
a same list.

In [8]:
# LIST CREATION
list = []   # Empty list

In [9]:
print(type(list))

<class 'list'>

In [17]:
list1 = [10,20,30]      # List of integers numbers

In [18]:
list2 = [10.77, 8.9,99.0]     # List of floats numbers

In [19]:
list3 = ["notebook","pen","book"]      # List of string

In [20]:
list4 = ["Shalu", 77, [22,7],[9,10]]    # Nested Lists

In [21]:
list5 = [7, 22, 7.22,"Angel"]    # List of mixed data types

In [22]:
list6 = ['Raj', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [23]:
len(list5)   #Length of list

4

In [24]:
list1[0]  # Retreive first element of the list

10

In [25]:
list3[0]    # Retreive first element of the list

'notebook'

In [26]:
list3[0][0]     # Nested indexing - Access the first character of the first list element

'n'

In [27]:
list3[-1]   # Last item of the list

'book'

In [28]:
list4[-1]   # Last item of the list

[9, 10]

#### LIST SLICING ####

In [26]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [27]:
mylist[0:4] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three', 'four']

In [28]:
mylist[3:6] # List all items from 3rd to 6th index location excluding the item

['four', 'five', 'six']

In [29]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [30]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [31]:
mylist[-1] # Return last item of the list

'eight'

In [32]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#### Add, Remove & Change Items ####

In [35]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [36]:
mylist.append('nine')  # Add an item to the end of the list 
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [37]:
mylist.insert(9,'ten') # Add item at index location 9 
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [38]:
mylist.insert(1,'APPLE') # Add item at index location 1 
mylist

['one',
 'APPLE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [39]:
mylist.remove('APPLE') # Remove item "APPLE" 
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [40]:
mylist.pop() # Remove last item of the list  
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [41]:
mylist.pop(8) # Remove item at the index location 8 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [42]:
del mylist[7]  # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'ten']

In [43]:
# Change value of the string
mylist[0] = 1 
mylist[1] = 2 
mylist[2] = 3 
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'ten']

In [44]:
mylist.clear()   # Empty List / Delete all items in the list 
mylist

[]

In [45]:
del mylist    # Delete the whole list
mylist

NameError: name 'mylist' is not defined

#### COPY LIST ####

In [48]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [49]:
mylist1 = mylist # Create a new reference "mylist1"

In [50]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(1780995811840, 1780995811840)

In [51]:
mylist2 = mylist.copy() # Create a copy of the list

In [52]:
id(mylist2) # The address of mylist2 will be different from mylist because my list

1780995278080

In [54]:
mylist[0] = 1

In [55]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [56]:
mylist1     # my list1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist2    # Copy of list won't be impacted due to changes made on the original list

#### JOIN LISTS ####

In [57]:
list1 = ['one', 'two', 'three', 'four'] 
list2 = ['five', 'six', 'seven', 'eight']

In [58]:
list3 = list1 + list2       # Join two lists by '+' operator 
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [59]:
list1.extend(list2)    #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#### LIST MEMBERSHIP ####

In [60]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [63]:
'one' in list1 # Check if 'one' exist in the list

True

In [64]:
'ten' in list1 # Check if 'one' exist in the list

False

In [65]:
if "three" in list1:   # Check if 'three' exist in the list 
    print('There is present in the list')
else:
    print("There is not present in the list")

There is present in the list

In [66]:
if "Eleven" in list1:   # Check if 'three' exist in the list 
    print('Eleven is present in the list')
else:
    print("Eleven is not present in the list")

Eleven is not present in the list

#### Reverse & Sort List ####

In [67]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [69]:
list1.reverse()   # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [73]:
list1 = list1[::-1]    # Reverse the list
list1

['two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [74]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort() # Sort list in ascending order 
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [75]:
ylist3 = [9,5,2,99,12,88,34] 
mylist3.sort(reverse=True) # Sort list in descending order 
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [76]:
mylist4 = [88,65,33,21,11,98] 
sorted(mylist4) # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [77]:
mylist4

[88, 65, 33, 21, 11, 98]

#### LOOP THROUGH A LIST ####

In [78]:
list1

['two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [79]:
for i in list1:
    print(i)

two
three
four
five
six
seven
eight

In [80]:
for i in enumerate(list1):
    print(i)

(0, 'two')
(1, 'three')
(2, 'four')
(3, 'five')
(4, 'six')
(5, 'seven')
(6, 'eight')

#### COUNT ####

In [81]:
list7 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [82]:
list7.count("one")    # Number of times item "one" occurred in the list.

3

In [83]:
list7.count("two")    # Occurence of item 'two' in the list

2

####   All / Any  ####
 
The all() method returns: 
 
True - If all elements in a list are true 
False - If any element in a list is false 
 
The any() function returns True if any element in the list is True. If not, any() returns False.

In [88]:
a = [1,2,3,4,0]

In [89]:
all(a)   # Will Return false as one value is false (Value 0)

False

In [90]:
any(a)  # Will Return True as we have items in the list with True value

True

In [91]:
a2 = [1,2,3,4,True,False]

In [92]:
all(a2)   # Returns false as one value is false

False

In [93]:
any(a2)    # Will Return True as we have items in the list with True value

True

In [95]:
a3 = [1,2,3,True]

In [96]:
all(a3)   # Will return True as all items in the list are True

True