#### TUPLE CREATION ####

In [21]:
tup = ()   # Empty tuple

In [22]:
tup1 =  (10,20,30,40)  #tuple of integer number

In [23]:
tup2 = (1.4, 7,8, 22.7, 7.22)  # tuple of float number

In [15]:
tup3 = ('one','two','three','four')   #tupe of strings

In [24]:
tup4 = ('book',22,7,(9,10),(22,9))     # Nested tuple

In [25]:
tup5 = (22,7,22.7,'notebook')    # tuple of mixed data type

In [26]:
tup6 = ('one',22,[22,7],[9,10],{'book','pen'},(6,44,77))

In [27]:
len(tup6)   #length of tuple

6

#### TUPLE INDEXING ####

In [29]:
tup1[0]    # Retreive first element of the tuple

10

In [30]:
tup3[0]

'one'

In [32]:
tup3[0][0]  # Nested indexing -Acces the first character of the first tuple element

'o'

In [33]:
tup3[-1]  #last item of the tuple

'four'

In [52]:
tup4[-1]

(22, 9)

#### TUPLE SLICING ####

In [35]:
mytuple = ('notebook','pen','book','chair','table','watch','pencil','eraser')

In [36]:
mytuple[0:3]   # Returns all items from 0th to 3rd index location executing the item

('notebook', 'pen', 'book')

In [37]:
mytuple[2:5]  #List all items from 2nd to 5th index location executing the item

('book', 'chair', 'table')

In [38]:
mytuple[:3]    # retun fist three elements

('notebook', 'pen', 'book')

In [39]:
mytuple[-3:]    #returns last three items

('watch', 'pencil', 'eraser')

In [40]:
mytuple[-1]   # return last item of the tuple

'eraser'

In [42]:
mytuple[:]  # return whole tuple

('notebook', 'pen', 'book', 'chair', 'table', 'watch', 'pencil', 'eraser')

####  REMOVE AND CHNAGE ITEMS ####

In [43]:
mytuple

('notebook', 'pen', 'book', 'chair', 'table', 'watch', 'pencil', 'eraser')

In [44]:
del mytuple[0]  #tuples are immutable which means we can't delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [45]:
mytuple[0] = 1   #tuples r immutable which can't be chnage

TypeError: 'tuple' object does not support item assignment

In [46]:
del mytuple  # delete entire tuple object is possible

#### LOOP THROUGH A TUPLE ####

In [48]:
mytuple = ('notebook','pen','book','chair','table','watch','pencil','eraser')

In [49]:
mytuple

('notebook', 'pen', 'book', 'chair', 'table', 'watch', 'pencil', 'eraser')

In [50]:
for i in mytuple:
    print(i)

notebook
pen
book
chair
table
watch
pencil
eraser

In [51]:
for i in enumerate(mytuple):
    print(i)

(0, 'notebook')
(1, 'pen')
(2, 'book')
(3, 'chair')
(4, 'table')
(5, 'watch')
(6, 'pencil')
(7, 'eraser')

#### TUPLE MEMBERSHIP  ####

In [53]:
mytuple

('notebook', 'pen', 'book', 'chair', 'table', 'watch', 'pencil', 'eraser')

In [54]:
"book" in mytuple  # Check if "book" exist in list

True

In [56]:
"grapes" in mytuple   # Check if "grapes" exist in list

False

In [57]:
if "book" in mytuple:
    print("Book is present in the table")
else:
    print("Book is not present in the table")

Book is present in the table

In [58]:
if "apple" in mytuple:
    print("apple is present in the table")
else:
    print("apple is not present in the table")

apple is not present in the table

#### INDEX POSITION ####

In [59]:
mytuple

('notebook', 'pen', 'book', 'chair', 'table', 'watch', 'pencil', 'eraser')

In [60]:
mytuple.index("notebook")  # index of the first element equal to "notebook"

0

In [61]:
mytuple.index("watch")

5

In [62]:
mytuple1 = ('notebook', 'pen', 'book','notebook','notebook', 'pen', 'book',)

In [63]:
mytuple1

('notebook', 'pen', 'book', 'notebook', 'notebook', 'pen', 'book')

In [64]:
mytuple1.index('notebook') #Index of first element equal to "notebook"

0

#### SORTING ####

In [65]:
mytuple2 = (77,22,2,10,9,27,72)

In [66]:
mytuple2

(77, 22, 2, 10, 9, 27, 72)

In [70]:
sorted(mytuple2)   # Returns a new sorted list in ascending order and doesn't change original tuple

[2, 9, 10, 22, 27, 72, 77]

In [71]:
sorted(mytuple2, reverse=True)   #sorted in decending order

[77, 72, 27, 22, 10, 9, 2]