#  1. Right Angle Traingle

In [36]:
for i in range (1,6):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

# 2. Inverted right angele Traingle

In [37]:
for i in range(5, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

In [38]:
rows = 5

for i in range(rows, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

In [10]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

#  3 Pyramid Pattern

In [39]:
for i in range (1,6):
    print(""*(5-i)+"* " *(2*i-1))

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [40]:
# This will print a pyramid of stars
for i in range(1, 6):
    spaces = 5 - i          # Number of spaces before the stars
    stars = 2 * i - 1       # Number of stars in the current row
    print(" " * spaces + "* " * stars)

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *

#  4 . Inverted Pyramid Pattern

In [41]:
for i in range (5,0,-1):
    print(""*(5-i)+"* " *(2*i-1))

* * * * * * * * *
* * * * * * *
* * * * *
* * *
*

# 5 Diamond Pattern

In [43]:
for i in range (1,6):
    print(""*(5-i)+"* " *(2*i-1))
for i in range (4,0,-1):
    print(""*(5-i)+"* " *(2*i-1))

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * *
* * * * *
* * *
*

#  6. Hollow Square Pattern

In [46]:
for i in range(5):
    for j in range(5):
        if i == 0 or i == 4 or j == 0 or j == 4:
            print('*', end='')
        else:
            print(' ', end='')  # print a space inside the square
    print()  # move to the next line

*****
*   *
*   *
*   *
*****

#  7 . Full Square pattern

In [47]:
for i in range(5):
    print('* '*5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

#  8.Right Angle Traingle (Number Pattern)

In [48]:
for i in range(1,7):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [49]:
for i in range(1,7):
    print(' '.join(str(x) for x in range(1,i+1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

#  9. Inverted Right Angle Traingle

In [50]:
for i in range(7,0,-1):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [51]:
for i in range(7,0,-1):
    print(' '.join(str(x) for x in range(1,i+1)))

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

#  10. Floyd's Triangle

In [35]:
num = 1 
for i in range(1,6):
    for j in range(1,i+1):
        print(num, end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# 11. Hallow Right Angle Traingle

In [53]:
for i in range(1,6):
    for j in range(1,i+1):
        if j ==1 or j==i or i==5:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*
* *
*   *
*     *
* * * * *

#  12. Hollow pyramid pattern

In [54]:
for i in range(1,6):
    for j in range(5 - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2*i-2 or i == 5:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

#  13. Hollow Diamond Triangle

In [59]:
n = 5

# Upper half of the diamond
for i in range(1, n + 1):
    # Print leading spaces
    for j in range(n - i):
        print(' ', end=' ')
    
    # Print stars and inner spaces
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

# Lower half of the diamond
for i in range(n - 1, 0, -1):
    # Print leading spaces
    for j in range(n - i):
        print(' ', end=' ')
    
    # Print stars and inner spaces
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

#  14. Solid Diamond

In [60]:
n = 5

# Upper half
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

# Lower half
for i in range(n - 1, 0, -1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

#  15 . Number diamond

In [64]:
n = 5

# Upper half
for i in range(1, n + 1):
    print(' ' * (n - i), end='')
    for j in range(1, 2 * i):
        print(j, end='')
    print()

# Lower half
for i in range(n - 1, 0, -1):
    print(' ' * (n - i), end='')
    for j in range(1, 2 * i):
        print(j, end='')
    print()

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

#  16. Hollow Diamond Number Pattern

In [65]:
n = 5

# Upper half of the diamond
for i in range(1, n + 1):
    # Print leading spaces
    for j in range(n - i):
        print(' ', end=' ')
    
    # Print stars and inner spaces
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

# Lower half of the diamond
for i in range(n - 1, 0, -1):
    # Print leading spaces
    for j in range(n - i):
        print(' ', end=' ')
    
    # Print stars and inner spaces
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1