# Dictionary 
Dictionary is a mutable data type in Python. 
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed 
in curly braces {}. 
Keys must be unique in a dictionary, duplicate values are allowed.

# Create Dictionary

In [2]:
mydict = dict()   # empty dictionary
mydict

{}

In [3]:
mydict = {}   # Empty dictionary
mydict

{}

In [4]:
 
mydict = {1:'book' , 2:'pen' , 3:'notebook'} # dictionary with integer keys 
mydict

{1: 'book', 2: 'pen', 3: 'notebook'}

In [6]:
mydict = dict({1:'book' , 2:'pen' , 3:'notebook'}) # Creates dictionary using dict()
mydict

{1: 'book', 2: 'pen', 3: 'notebook'}

In [7]:

mydict = {'A':'book' , 'B':'pen' , 'C':'notebook'} # dictionary with character keys 
mydict

{'A': 'book', 'B': 'pen', 'C': 'notebook'}

In [8]:
mydict = dict({1:'book' , 'A':'pen' , 3:'notebook'}) # dictionary with mixed keys
mydict

{1: 'book', 'A': 'pen', 3: 'notebook'}

In [9]:
mydict.keys() # Return dictionary keys using keys() method

dict_keys([1, 'A', 3])

In [11]:
mydict.values()   # Return Dictionary Values using values() method

dict_values(['book', 'pen', 'notebook'])

In [12]:
mydict.items()   # Access each key-value pair within a dictionary

dict_items([(1, 'book'), ('A', 'pen'), (3, 'notebook')])

In [13]:
mydict = {1:'book' , 2:'pen' , 'A':['Aman' , 'John' , 'Maria']} # dictionary with list 
mydict

{1: 'book', 2: 'pen', 'A': ['Aman', 'John', 'Maria']}

In [16]:
mydict = {1:'book' , 2:'pen' , 'A':['Aman' , 'John' , 'Maria'],'B':('bat','chair','hat')} # dictionary with list 
mydict

{1: 'book',
 2: 'pen',
 'A': ['Aman', 'John', 'Maria'],
 'B': ('bat', 'chair', 'hat')}

In [17]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict2 = dict.fromkeys(keys)   #Create a dictionary from a sequence of keys
mydict2

{'a': None, 'd': None, 'c': None, 'b': None}

In [18]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10 
mydict2 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of keys and value 
mydict2

{'a': 10, 'd': 10, 'c': 10, 'b': 10}

In [19]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict2 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of keys and value 
mydict2

{'a': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30]}

In [21]:
value.append(40)
mydict2

{'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

# Accesing Items

In [22]:
mydict = {1:'book' , 2:'pen' , 3:'notebook',4:'eraser'} 
mydict

{1: 'book', 2: 'pen', 3: 'notebook', 4: 'eraser'}

In [23]:
mydict[1] #Accesing item using key

'book'

In [24]:
mydict.get(1) # Accesing item using get() method

'book'

In [25]:
mydict1 = {'Name':'Angel' , 'ID': 2207 , 'DOB': 2124 , 'Job' :'Analyst'} 
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Job': 'Analyst'}

In [26]:
mydict1['Name'] # Access item using key

'Angel'

In [28]:
mydict1.get('Job') # Access item using get() method

'Analyst'

# Add, Remove & Change Items

In [6]:
mydict1 = {'Name':'Angel' , 'ID': 2207 , 'DOB': 2124 , 'Address' :'Delhi'} 
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Address': 'Delhi'}

In [7]:
mydict1['DOB'] = 1992  # Changing Dictionary Items 
mydict1['Address'] = 'Bhopal' 
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 1992, 'Address': 'Bhopal'}

In [8]:
dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 1995, 'Address': 'Bhopal'}

In [9]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'Angel',
 'ID': 2207,
 'DOB': 1995,
 'Address': 'Bhopal',
 'Job': 'Analyst'}

In [10]:
mydict1.pop('Job') # Removing items in the dictionary using Pop() method 
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 1995, 'Address': 'Bhopal'}

In [11]:
mydict1.popitem() # A random item is removed

('Address', 'Bhopal')

In [12]:
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 1995}

In [13]:
del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'Angel', 'DOB': 1995}

In [14]:
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

In [15]:
del mydict1 # Delete the dictionary object 
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [16]:
mydict = {'Name':'Angel' , 'ID': 2207 , 'DOB': 2124 , 'Address' :'Delhi'} 
mydict

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Address': 'Delhi'}

In [17]:
mydict1 = mydict   # Create a new reference "mydict1"

In [19]:
id(mydict1) , id(mydict)   # The address of both mydict & mydict1 will be the same

(2077253023296, 2077253023296)

In [20]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [21]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

2077253100672

In [22]:
 mydict['Address'] = 'Patna'

In [23]:
mydict

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Address': 'Patna'}

In [24]:
mydict1  # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Address': 'Patna'}

In [25]:
mydict2  # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Address': 'Delhi'}

# Loop through a Dictionary

In [26]:
mydict1 = {'Name':'Angel' , 'ID': 2207 , 'DOB': 2124 , 'Address' :'Delhi'} 
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Address': 'Delhi'}

In [27]:
for i in mydict1:
    print(i, ':', mydict[i])

Name : Angel
ID : 2207
DOB : 2124
Address : Patna

In [29]:
for i in mydict1: 
    print(mydict1[i]) # Dictionary items

Angel
2207
2124
Delhi

# Dictionary Membership

In [30]:
mydict1 = {'Name':'Angel' , 'ID': 2207 , 'DOB': 2124 , 'Address' :'Delhi'} 
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Address': 'Delhi'}

In [31]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [32]:
'Singh' in mydict1 # Membership test can be only done for keys.

False

In [33]:
'ID' in mydict1

True

In [34]:
'Job' in mydict1

False

# All/Any
The all() method returns: 
True - If all all keys of the dictionary are true 
False - If any key of the dictionary is false 
The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [36]:
mydict1 = {'Name':'Angel' , 'ID': 2207 , 'DOB': 2124 , 'Address' :'Delhi'} 
mydict1

{'Name': 'Angel', 'ID': 2207, 'DOB': 2124, 'Address': 'Delhi'}

In [37]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

In [38]:
any(mydict1) # Will Return true as all the values are true

True