In [ ]:
import sys
import keyword
import python
import datatime
import os

In [2]:
# Keywords
# Keywords are the reserved words in Python and can't be used as an identifier

import keyword  # list all the python keyword
keyword.kwlist
print(keyword.kwlist)   # list all the python keyword

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)   # Python contains 35 keywords

35

In [4]:
#IDENTIFIERS
'''An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate 
one entity from another.'''

1var = 7  # Identifier can't start with a digit 
val2@ = 35 # Identifier can't use special symbols 
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid decimal literal (3352608134.py, line 5)

In [ ]:
""" 
Correct way of defining an identifier 
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase 
""" 
variable = 7
variable_ = 7

In [ ]:
"""Comments in Python 
Comments can be used to explain the code for more readabilty. """


#Single line comment 
val1 = 10

# Multiple 
# line 
# comment 
val1 = 10 

''' 
Multiple 
line 
comment 
''' 
val1 = 10

""" 
Multiple 
line 
comment 
""" 
val1 = 10

In [7]:
""" Statements 
Instructions that a Python interpreter can execute. """

p = 20    #Creates an integer object with value 20 and assigns the variable p to p 
q = 20    # Create new reference q which will point to value 20. p & q will be poi 
r = q     # variable r will also point to the same location where p & q are pointin 

p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a

(20, int, '0x7ffadea92c18')

In [8]:
q , type(q), hex(id(q))

(20, int, '0x7ffadea92c18')

In [9]:
r , type(r), hex(id(r))

(20, int, '0x7ffadea92c18')

In [10]:
a = 7
a = a + 8  # Variable Overwriting
a

15

In [13]:
# Variable Assigment 

a = 8     # Integer variable 
b = 8.7           # Float variable 
c = "Python Language"       #String variable
print(a)
print(b)
print(c)

8
8.7
Python Language

In [14]:
# Multiple Assignments 
a,b,c = 7, 6.7 , "Python Language"    # Using commas to separat
print(a)
print(b)
print(c)

7
6.7
Python Language

In [16]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value 
print(p1,p2,p3,p4)

44 44 44 44

In [18]:
a = b = c = d = 77    # All variables pointing to same value 
print(a,b,c,d)

77 77 77 77

In [24]:
"""Data Types 
Numeric 
Float
Complex"""

# Numeric

import sys
a = 9      # Integer data type 
print(a)
print(type(a))      # type of object 
print(sys.getsizeof(a))    # # size of integer object in bytes --------This may vary depending on Python version and platform
print(a, "is Integer?", isinstance(a, int))  # a is an instance of int


# Float
import sys
a = 9.7
print(a)
print(type(a))     
print(sys.getsizeof(a))
print(a, "is Float?", isinstance(a, float))

# Complex
import sys
a = 7 + 3j
print(a)
print(type(a))     
print(sys.getsizeof(a))
print(a, "is Complex?", isinstance(a, complex))

9
<class 'int'>
28
9 is Integer? True
9.7
<class 'float'>
24
9.7 is Float? True
(7+3j)
<class 'complex'>
32
(7+3j) is Complex? True

In [25]:
 sys.getsizeof(int()) # size of integer object in bytes

28

In [27]:
sys.getsizeof(float()) # size of float object in bytes

24

In [26]:
sys.getsizeof(complex()) # size of complex object in bytes

32

In [29]:
"""Boolean 
Boolean data type can have only two possible values true or false. """

x = True
y = False
print(x)
print(y)
print(type(x))
print(type(y))

True
False
<class 'bool'>
<class 'bool'>

In [30]:
isinstance(x, bool)

True

In [35]:
bool(0)

False

In [36]:
bool(1)

True

In [37]:
bool(None)

False

In [38]:
bool(False)

False

In [39]:
# String Creation
s = "Hello Python"
print(s)

Hello Python

In [40]:
s = 'Hello Python'   # Define string using single quotes 
print(s)

s = "Hello Python"   # Define string using double quotes 
print(s)

 # Define string using triple quotes
mystr = '''Hello    
World ''' 
print(mystr)

Hello Python
Hello Python
Hello
World

In [43]:
str = ("Python"
       "is"
       "awesome")
print(str)

str1 = ("Python "
       "is "
       "awesome ")
print(str1)

Pythonisawesome
Python is awesome

In [48]:

str = "Happy"
str = str*6
str

'HappyHappyHappyHappyHappyHappy'

In [47]:
str1 = "Happy "
str1 = str1 * 6
str1

'Happy Happy Happy Happy Happy Happy '

In [49]:
len(str)   # Length of string

30

In [51]:
""" STRING INDEXING
1. Forward Indexing 
2. Backward Indexing """

str = "Hello Python"
str

'Hello Python'

In [56]:
str[0]   # First character in string "str"

'H'

In [57]:
str[len(str)-1] # Last character in string using len function

'n'

In [59]:
str[6] #Fetch 7th element of the string

'P'

In [60]:
str[5]

' '

In [61]:
# String Slicing
str[0:5]   # String slicing - Fetch all characters from 0 to 5 index location exc

'Hello'

In [ ]:
str[6:12]   # String slicing - Retreive all characters between 6 - 12 index location

In [62]:
str[-4:]  # Retreive last four characters of the string

'thon'

In [64]:
str[-6:]   # Retreive last six characters of the string

'Python'

In [66]:
str[:4]    # Retreive first four characters of the string

'Hell'

In [67]:
str[:6]   # Retreive first six characters of the string

'Hello '

In [68]:
#Update & Delete String 
str

'Hello Python'

In [69]:
#Strings are immutable which means elements of a string cannot be changed once it
str[0:5] = "Holla'

SyntaxError: unterminated string literal (detected at line 1) (2436965270.py, line 1)

In [71]:
del str # Deleting a string
print(str)

NameError: name 'str' is not defined

In [72]:
# String concatenation
a = "Hello"
b = "Shalu"
c = a + b
print(c)

HelloShalu