#  16th July
# Loops

In [1]:
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")

Data Science
Data Science
Data Science
Data Science
Data Science

In [2]:
i = 1              #initializing
while i <= 5:      # condition
    print("Data Science")
    i = i + 1      # increment

Data Science
Data Science
Data Science
Data Science
Data Science

In [3]:
i = 1             
while i <= 5:     
    print("Data Science",i)
    i = i + 1

Data Science 1
Data Science 2
Data Science 3
Data Science 4
Data Science 5

In [4]:
i = 5             
while i >= 1:     
    print("Data Science")
    i = i - 1

Data Science
Data Science
Data Science
Data Science
Data Science

In [5]:
i = 5             
while i >= 1:     
    print("Data Science",i)
    i = i - 1

Data Science 5
Data Science 4
Data Science 3
Data Science 2
Data Science 1

can we use multiple while loop || nested while loop 
to understand nested while indepth understand you can use pycharm debug with f8 option

In [6]:
i = 1 
while i<= 5:
    print("Data Science")   # when we mention end then new line line will not create
    j = 1
    while j <= 4:
        print("Technology")
        j = j + 1

    i = i + 1
    print()

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [7]:
i = 1 
while i<= 5:
    print("Data_Science",i, end = "")   # when we mention end then new line line will not create
    j = 1
    while j <= 4:
        print(" Technology",j, end = "")
        j = j + 1

    i = i + 1
    print()

Data_Science 1 Technology 1 Technology 2 Technology 3 Technology 4
Data_Science 2 Technology 1 Technology 2 Technology 3 Technology 4
Data_Science 3 Technology 1 Technology 2 Technology 3 Technology 4
Data_Science 4 Technology 1 Technology 2 Technology 3 Technology 4
Data_Science 5 Technology 1 Technology 2 Technology 3 Technology 4

In [8]:
i = 5 
while i>= 1:
    print("Data_Science",i, end = "")   # when we mention end then new line line will not create
    j = 4
    while j >= 1:
        print(" Technology",j, end = "")
        j = j - 1

    i = i - 1
    print()

Data_Science 5 Technology 4 Technology 3 Technology 2 Technology 1
Data_Science 4 Technology 4 Technology 3 Technology 2 Technology 1
Data_Science 3 Technology 4 Technology 3 Technology 2 Technology 1
Data_Science 2 Technology 4 Technology 3 Technology 2 Technology 1
Data_Science 1 Technology 4 Technology 3 Technology 2 Technology 1

In [9]:
i = 5 
while i>= 1:
    print("Data_Science",i)   # when we mention end then new line line will not create
    j = 4
    while j >= 1:
        print(" Technology",j)
        j = j - 1

    i = i - 1
    print()

Data_Science 5
 Technology 4
 Technology 3
 Technology 2
 Technology 1

Data_Science 4
 Technology 4
 Technology 3
 Technology 2
 Technology 1

Data_Science 3
 Technology 4
 Technology 3
 Technology 2
 Technology 1

Data_Science 2
 Technology 4
 Technology 3
 Technology 2
 Technology 1

Data_Science 1
 Technology 4
 Technology 3
 Technology 2
 Technology 1

In [10]:
#  lets use while loop using some numbers

i = 1
while i <= 2:
    j = 0
    while j <= 2:
        print(i*j, end ="")
        j += 1
    print()
    i += 1

012
024

In [11]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

# FOR LOOP  -
normally while loop it work with iteration or certaion some condition but for loop it will work with sequence (list, string,int)

In [12]:
name = "Angel"
for i in name:
    print(i)

A
n
g
e
l

In [13]:
name1 = [1,3.5,'hallo'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hallo

In [14]:
for i in [2, 3, 7.8, 'hi']:
    print(i)

2
3
7.8
hi

In [15]:
range(7)

range(0, 7)

In [16]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [17]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [18]:
for i in range(1,10,3):
    print(i)

1
4
7

In [19]:
for i in range(1,10,5):
    print(i)

1
6

In [20]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
# print the value which is divisible by 5 

for i in range (1,51):
    if i % 5 == 0:
        print()

In [24]:
# print the value which is not divisible by 5 

for i in range (1,51):
    if i % 5 != 0:
        print()

# # LETS DISCUSS ABOUT 3 KEYWORDS -- BREAK || CONTINUE || PASS
BREAK STATEMNT - if you apply break statment in a loop then it will end the loop

 Pass = skips block of code( function, class etc)
 
 Continue= skips 1 step/iteration during loop
 
 Break= jumps out of the function/loop

In [27]:
# write the code user ask chocklet from vendor machine write the basic code 

x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:
    print('chocolate')
    i += 1

How many chocolates you want:? 1

chocolate

- If the user says i need 10 choclet but vending machine dont have 10 choclate & machine has only 5    choclate so what you do on those scenario
- We have 3 choice now  (eiter stop the transaction by you or you can give only 5 choclate) & may be
   vendor machine display the result as we are out of the stock
- Now lets try in the code

In [31]:
# if you check the user wants 10 choclets  but availabe choclet is 5 but we got output as 10 choclet
# in this code we just declare but we dint apply any condition to it 

ava = 5 # the machine has only 5 choclet 

x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:
    print('chocolates')
    i += 1

How many chocolates you want:? 10

chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates

In [32]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets user want:? 6

choclet
choclet
choclet
choclet
choclet
bye for now

In [33]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets user want:? 4

choclet
choclet
choclet
choclet
bye for now

In [35]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
# i dont want 11 number i want only 5 number for the range of 1 to 10

for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [38]:
# in continue loop wont be terminate & exclue the assign number it give you entire output 

for i in range(1,11):
    if i == 3:
        continue 
    print(i)

1
2
4
5
6
7
8
9
10

In [39]:
for i in range(1,11):
    if i == 6:
        continue  
    print('hello :',i)

hello : 1
hello : 2
hello : 3
hello : 4
hello : 5
hello : 7
hello : 8
hello : 9
hello : 10

In [40]:
# PASS Statement - pass the code & it wont go ( code give you the error)
for i in range(1,11):

SyntaxError: incomplete input (120296588.py, line 2)

In [41]:
for i in range(1,11):
    pass

#  you need to print the number from 1 to 50 but dont print the number which is divisible by 3 or 5

In [44]:
for i in range(1,51):
    if i % 3 == 0:
        print(i)
print("end")

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [45]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [46]:
# it will skip all the value which is divisible by 3 or 5

for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
#print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [47]:
# when you apply and you wont get the value which is divisible by both 3 & 5 (15)

for i in range(1,50):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [48]:
# i dont want to print the values which are even numbers that means print only odd numbers

for i in range(1,51):
    
    if (i%2 == 0):
        #print('even')
        continue
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye