# 15th July 
# Conditional Statement

In [1]:
if True:
    print("Hello")

Hello

In [2]:
if True:
print("hello")

IndentationError: expected an indented block after 'if' statement on line 1 (3814570068.py, line 2)

In [3]:
if True:
    print("Hello")

Hello

In [5]:
if False:
    print("Bye")

In [6]:
if True: 
    print('Data Science')
    
print('bye for now')

Data Science
bye for now

In [7]:
if False: 
    print('Data Science')
    
print('bye for now')

bye for now

In [8]:
if True: 
    print('Data Science')
    
else:
    print('bye for now')

Data Science

In [9]:
if False: 
    print('Data Science')
    
else:
    print('bye for now')

bye for now

# # write python code to check wheater number is even or odd

In [10]:
x = 6
r = x % 2
if r == 0:
    print("Even Number")

Even Number

In [11]:
x = 7
r = x % 2
if r == 0:
    print("Even Number")

In [12]:
x = 6

r = x % 2 
if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

Even number

In [13]:
x = 7
r = x % 2 
if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [14]:
x = 6
r = x % 2 
if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [15]:
x = 9
r = x % 2 
if r == 0:
    print('Even number')
else:
    print('odd number')

odd number

In [16]:
x = 5
r = x % 2 
if r == 0:    print('Even number')
else:     print('odd number')

odd number

In [17]:
x = 9
r = x % 2 
if r == 0:
    print('Even number') 
if r != 0:
    print('odd number')

odd number

# Nested if

In [18]:
x = 3
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
else:
    print('Odd Number')

Odd Number

In [19]:
x = 6
r = x % 2
if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('smaller number') 
else:
    print('Odd Number')

Even number
greater number

In [20]:
x = 4

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

four

In [21]:
x = 3

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

Three

In [22]:
x = 9

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

In [23]:
x = 2

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

Two

In [24]:
x = 10

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')
else:
    print("Number not found")

Number not found

In [26]:
num = int(input("Enter a number: "))

if num > 0:
 print("Positive")
elif num < 0:
 print("Negative")
else:
 print("Zero")

Enter a number:  8

Positive

# GeeksforGeeks

In [27]:
age = 20
if age >= 18:
    print("Eligible for vote")

Eligible for vote

In [28]:
if age <= 12:
    print("Travel for free")
else:
    print("Pay for ticket")

Pay for ticket

In [29]:
marks = 45
result = "Pass" if marks >=40 else "Fail"
print(f"Result: {result}")

Result: Pass

In [30]:
marks = 45
if marks >= 40:
    result = "Pass"
else:
    result = "Fail"
print(f"Result: {result}")

Result: Pass

In [31]:
age = 25
if age <= 12:
    print("Child")
elif age <= 19:
    print("Teenager")
elif age <= 35:
    print("Young adult")
else:
    print("Adult")

Young adult

In [32]:
age = 70
is_member = True
if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

30% senior discount!

In [33]:
age = 70
is_member = True
if age >= 60:
    print("Eligible for the discount")
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

Eligible for the discount
30% senior discount!

In [34]:
# Assign a value based on a condition
age = 20
s = "Adult" if age >= 18 else "Minor"

print(s)

Adult

In [35]:
number = 1
match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

One

In [36]:
number = 2
match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

Two or Three

In [37]:
number = _
match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

Other number

In [38]:
# IF STATEMENT 

i = 10
if (i >15):
    print("less tahn 15")
print("greater than 15")

greater than 15

In [45]:
# ELSE STATEMENT
num =20
if (num > 0):
    print("num is positive number")
else:
    print("num s 0 or negative number")

num is positive number

In [47]:
num = -2
if (num > 0):
    print("num is positive number")
else:
    print("num is 0 or negative number")

num is 0 or negative number

In [48]:
# Logical operator

age = 25
exp = 10

# Using '>' operator & 'and' with if-else
if age > 23 and exp > 8:
    print("Eligible.")
else:
    print("Not eligible.")

Eligible.

In [60]:
i = 10
if (i == 10):
  
    #  First if statement
    if (i < 15):
        print("i is smaller than 15")
        
    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")      
else:
  print("i is not equal to 10")

i is smaller than 15
i is smaller than 12 too

In [65]:
i = 7

if i == 7:
    if i < 9:
        print("i is smaller than 9")
        if i < 10:
            print("i is smaller than 10 too")
        else:
            print("i is greater than 10")
else:
    print("i is not equal to 7")

i is smaller than 9
i is smaller than 10 too

In [66]:
i = 20

if i == 7:
    if i < 9:
        print("i is smaller than 9")
        if i < 10:
            print("i is smaller than 10 too")
        else:
            print("i is greater than 10")
else:
    print("i is not equal to 7")

i is not equal to 7

In [73]:
# IF ELIF ELSE STATEMENT

i = 15

 # Checking if i is equal to 10
if (i == 10):
    print("i is 10")
 # Checking if i is equal to 15

elif (i == 15):
    print("i is 15")
 # Checking if i is equal to 20

elif (i == 20):
    print("i is 20")
    
 # If none of the above conditions are true
else:
    print("i is not present")

i is 15

In [74]:
i = 25

 # Checking if i is equal to 10
if i == 10:
    print("i is 10")
 # Checking if i is equal to 15

elif i == 15:
    print("i is 15")
 # Checking if i is equal to 20

elif i == 20:
    print("i is 20")
    
 # If none of the above conditions are true
else:
    print("i is not present")

i is not present

In [76]:
if 10 > 5:
    print("10 greater than 5")
    print("Program ended")

10 greater than 5
Program ended

In [77]:
# if..else statement example
x = 7
if x == 8:
    print("Yes")
else:
    print("No")

No

In [78]:
# if..else chain statement

letter = "A"
if letter == "B":
    print("letter is B")
else:
    if letter == "C":
        print("letter is C")
    else:
        if letter == "A":
            print("letter is A")
        else:
            print("letter is not A,B,C")

letter is A

In [84]:
num = 10
if num == 15:
    print("num is 15")
else:
    if num == 20:
        print("num is 20")
    else:
        if num == 10:
            print("num is 10")
        else:
            print("num is not 10,15,20")

num is 10

In [86]:
num = 100
if num == 15:
    print("num is 15")
else:
    if num == 20:
        print("num is 20")
    else:
        if num == 10:
            print("num is 10")
        else:
            print("num is not 10,15,20")

num is not 10,15,20

In [87]:
# Nested if statement
# Nested if statement example
a = 10

if a > 5:
    print("Bigger than 5")
    if a <= 15:
        print("Between 5 and 15")

Bigger than 5
Between 5 and 15

In [88]:
a = 20
if a > 5:
    print("Bigger than 5")
    if a <= 15:
        print("Between 5 and 15")

Bigger than 5

In [89]:
a = 7

if a > 5:
    print("Bigger than 5")
    if a <= 15:
        print("Between 5 and 15")

Bigger than 5
Between 5 and 15

In [90]:
# if-elif statement

num = 10

if num == 15:
    print("num is 15")
elif num == 20:
    print("num is 20")
elif num == 25:
    print("num is 25")
else:
    print("num is not 10, 15, or 20")

num is not 10, 15, or 20

In [92]:
num = 25

if num == 15:
    print("num is 15")
elif num == 20:
    print("num is 20")
elif num == 25:
    print("num is 25")
else:
    print("num is not 10, 15, or 20")

num is 25

In [93]:
x = 10
y = 5
if x > 5:
    if y > 5:
        print("x is greater than 5")
    elif y==5:
         print("x is greater than 5 and y is 5")
    else:
        print("x is greater than 5 and y is less than 5")

x is greater than 5 and y is 5

In [95]:
x = 10
y = 2
if x > 5:
    if y > 5:
        print("x is greater than 5")
    elif y==5:
         print("x is greater than 5 and y is 5")
    else:
        print("x is greater than 5 and y is less than 5")

x is greater than 5 and y is less than 5

In [96]:
age = 27
member = True

if age >18:
    if member:
        print("Ticket price is $10")
    else:
        print("Ticket price is $ 15")
else:
    if member:
        print("Ticke price is $ 7")
    else:
        print ("Ticket price is $ 9")

Ticket price is $10

In [97]:
age = 17
member = True

if age >18:
    if member:
        print("Ticket price is $10")
    else:
        print("Ticket price is $ 15")
else:
    if member:
        print("Ticke price is $ 7")
    else:
        print ("Ticket price is $ 9")

Ticke price is $ 7

In [98]:
age = 27
member = False

if age >18:
    if member:
        print("Ticket price is $10")
    else:
        print("Ticket price is $ 15")
else:
    if member:
        print("Ticke price is $ 7")
    else:
        print ("Ticket price is $ 9")

Ticket price is $ 15

In [100]:
age = 17
member = False

if age >18:
    if member:
        print("Ticket price is $10")
    else:
        print("Ticket price is $ 15")
else:
    if member:
        print("Ticke price is $ 7")
    else:
        print ("Ticket price is $ 9")

Ticket price is $ 9

In [101]:
i = 0; 

# if condition 1
if i != 0:
    # condition 1
    if i > 0:
        print("Positive")
        
    # condition 2
    if i < 0:
        print("Negative")
else:
    print("Zero")

Zero

In [102]:
i = 5; 

# if condition 1
if i != 0:
    # condition 1
    if i > 0:
        print("Positive")
        
    # condition 2
    if i < 0:
        print("Negative")
else:
    print("Zero")

Positive

In [103]:
i = -8; 

# if condition 1
if i != 0:
    # condition 1
    if i > 0:
        print("Positive")
        
    # condition 2
    if i < 0:
        print("Negative")
else:
    print("Zero")

Negative

In [104]:
# program that grants access only to kids aged between 8-12

age = 18

if ((age>= 8) and (age<= 12)):
    print("YOU ARE ALLOWED. WELCOME !")
else:
    print("SORRY ! YOU ARE NOT ALLOWED. BYE !")

SORRY ! YOU ARE NOT ALLOWED. BYE !

In [106]:
age = 18

if ((age>= 8) and (age<= 20)):
    print("YOU ARE ALLOWED. WELCOME !")
else:
    print("SORRY ! YOU ARE NOT ALLOWED. BYE !")

YOU ARE ALLOWED. WELCOME !

In [110]:
age = 18

if ((age>= 18) and (age<= 20)):
    print("YOU ARE ALLOWED. WELCOME !")
else:
    print("SORRY ! YOU ARE NOT ALLOWED. BYE !")

YOU ARE ALLOWED. WELCOME !

In [111]:
# program that checks the agreement of the user to the terms

var = 'N'

if (var =='Y' or var =='y'):
    print("You said YES")
elif(var =='N' or var =='n'):
    print("You said NO")
else:
    print("Invalid Input")

You said NO

In [112]:
var = 'N'

if (var =='Y' or var =='y'):
    print("You said YES")
elif(var =='M' or var =='Y'):
    print("You said NO")
else:
    print("Invalid Input")

Invalid Input

In [113]:
# program to compare the entered three numbers

a = 7
b = 9
c = 3

if((a>b and a>c) and (a != b and a != c)):
    print(a, " is the largest")
elif((b>a and b>c) and (b != a and b != c)):
    print(b, " is the largest")
elif((c>a and c>b) and (c != a and c != b)):
    print(c, " is the largest")
else:
    print("entered numbers are equal")

9  is the largest

In [114]:
a = 1
b = 1
c = 1
if(a == 1 and b == 1 and c == 1):
    print("working")
else:
    print("stopped")

working