## Sets 
1) Unordered & Unindexed collection of items. 
2) Set elements are unique. Duplicate elements are not allowed. 
3) Set elements are immutable (cannot be changed). 
4) Set itself is mutable. We can add or remove items from it.

## Set Creation

In [1]:
set = {1,2,3,4,5,6,7}   # Set of numbers
set

{1, 2, 3, 4, 5, 6, 7}

In [2]:
len(set)    # Lenghth of the set

7

In [3]:
myset = {1,2,5,7,2,2,7,7,4,8,9}   # Dublicates elements are not allowed in the set 
myset

{1, 2, 4, 5, 7, 8, 9}

In [4]:
myset1 = {7.7,2.2,22.7,7.22,72.2,88.9}   #Set of float numbers 
myset1

{2.2, 7.22, 7.7, 22.7, 72.2, 88.9}

In [5]:
myset2 = {"Angel","Book","Notebook","Pencil","Pen"}   # Set of the Strings
myset2

{'Angel', 'Book', 'Notebook', 'Pen', 'Pencil'}

In [6]:
myset3 = {22,7,27,"Book","Pen",77.7, 22.7,[22,7,27]}  #Set dosen,t allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [1]:
myset4 = {22,7,27,"Book","Pen",77.7, 22.7,(22,7,27)}  # Mixed Dataype 
myset4

{(22, 7, 27), 22, 22.7, 27, 7, 77.7, 'Book', 'Pen'}

In [2]:
myset5 = set()   # Create an empty set
print(type(myset5))

<class 'set'>

In [3]:
my_set = set(('one' , 'two' , 'three' , 'four')) 
my_set

{'four', 'one', 'three', 'two'}

# Loop through a set

In [4]:
myset = {"Eraser","Book","Notebook","Pencil","Pen"} 
for i in myset:
    print(i)

Pencil
Notebook
Book
Eraser
Pen

In [5]:
for i in enumerate(myset):
    print(i)

(0, 'Pencil')
(1, 'Notebook')
(2, 'Book')
(3, 'Eraser')
(4, 'Pen')

# Set Membership

In [6]:
myset

{'Book', 'Eraser', 'Notebook', 'Pen', 'Pencil'}

In [7]:
"Book" in myset    # Check if "Book" exist in the set

True

In [8]:
"Apple" in myset    # Check if "Apple" exist in the set

False

In [9]:
if "Book" in myset:      # Check if "Book" exist in the set
    print("Book is present in the set")
else:
    print("Book is not present in the set")

Book is present in the set

In [10]:
if "apple" in myset:      # Check if "apple" exist in the set
    print("Apple is present in the set")
else:
    print("Apple is not present in the set")

Apple is not present in the set

# Add and Remove Items

In [11]:
myset

{'Book', 'Eraser', 'Notebook', 'Pen', 'Pencil'}

In [12]:
myset.add("Maths")    # Add iteam to a set using add() method
myset

{'Book', 'Eraser', 'Maths', 'Notebook', 'Pen', 'Pencil'}

In [13]:
myset.update(["Science","English","Hindi"])   # Add multiple items in the set using update() method
myset

{'Book',
 'English',
 'Eraser',
 'Hindi',
 'Maths',
 'Notebook',
 'Pen',
 'Pencil',
 'Science'}

In [14]:
myset.remove("Maths")   #It remove the item from the set using remove() method
myset

{'Book', 'English', 'Eraser', 'Hindi', 'Notebook', 'Pen', 'Pencil', 'Science'}

In [15]:
myset.discard("Science")   # Remove the iteam from the set using discard() method
myset

{'Book', 'English', 'Eraser', 'Hindi', 'Notebook', 'Pen', 'Pencil'}

In [16]:
myset.clear()  # Delete all the items in a set
myset

set()

In [18]:
del myset   # Delete the set subject
myset

NameError: name 'myset' is not defined

# Copy Set

In [19]:
myset = {'Book', 'English', 'Eraser', 'Hindi', 'Notebook', 'Pen', 'Pencil', 'Science'}
myset

{'Book', 'English', 'Eraser', 'Hindi', 'Notebook', 'Pen', 'Pencil', 'Science'}

In [21]:
myset1 = myset    # Create a new refrence "myset1"
myset1

{'Book', 'English', 'Eraser', 'Hindi', 'Notebook', 'Pen', 'Pencil', 'Science'}

In [23]:
id(myset) , id(myset1)    # The address of bboyh myset & myset1 will be the same

(2604155618464, 2604155618464)

In [24]:
my_set = myset.copy()    # Create a copy of the set
my_set

{'Book', 'English', 'Eraser', 'Hindi', 'Notebook', 'Pen', 'Pencil', 'Science'}

In [27]:
id(my_set)   # The address of my_set will be different from myset because my_set is another variable

2604163577920

In [28]:
myset.add("maths")
myset

{'Book',
 'English',
 'Eraser',
 'Hindi',
 'Notebook',
 'Pen',
 'Pencil',
 'Science',
 'maths'}

In [29]:
myset1 # Myset1 will be also impactes as it is pointing to the same set

{'Book',
 'English',
 'Eraser',
 'Hindi',
 'Notebook',
 'Pen',
 'Pencil',
 'Science',
 'maths'}

In [30]:
my_set  # Copy od the set will not impactes due to changes mase on the origibal Set

{'Book', 'English', 'Eraser', 'Hindi', 'Notebook', 'Pen', 'Pencil', 'Science'}

# SET OPERATION

 Union

In [31]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [32]:
a.union(b)  ## Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
a.union(b,c)   #Union of a,b,c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
""" 
Updates the set calling the update() method with union of A , B & C. 
Set a will be updated with union of a,b & c. 
""" 
a.update(b,c) 
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Intersection

In [37]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [38]:
a & b   # Intersection of a and b ( Commmonn items is both sets)

{4, 5}

In [39]:
a.intersection(b)     #Intersection of a and b

{4, 5}

In [40]:
a.intersection(c)

set()

In [41]:
c.intersection(b)

{8}

In [43]:
""" 
Updates the set calling the intersection_update() method with the intersection of set 
Set a will be updated with the intersection of a & b. 
""" 
a.intersection_update(b) 
a

{4, 5}

Difference

In [44]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [45]:
a.difference(b)  # Difference of sets -----The difference() function returns a new set 
                #that contains elements that are only in the first set and not in the second (or others).
                # Returns a new set

{1, 2, 3}

In [46]:
a - b  # set of elements that are only in A but not in B

{1, 2, 3}

In [47]:
b.difference(a)

{6, 7, 8}

In [48]:
""" 
Updates the set calling the difference_update() method with the difference of set 
Set b will be updated with the difference of b & a. 
""" 
b.difference_update(a) 
b

{6, 7, 8}

In [50]:
a.difference_update(b)   """The difference_update() method is used to remove all elements from the calling set (a) 
                           that are also present in one or more other sets (b, c, etc.).
                           It modifies the original set directly, and it does not return anything (None).
                           It removes all elements from a that are in b. So:
                           4 and 5 are removed
                           Now, A becomes {1, 2, 3,4,5}
                           âœ… Note: It changes the original set A. It does not return a new one."""
a

{1, 2, 3, 4, 5}

In [52]:
b.difference_update(c)
b

{6, 7}

In [53]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [54]:
b.difference_update(c)   # b-c remove the common element from whic we are subtractiong have to write that element only
b

{4, 5, 6, 7}

Symmetric Difference

In [55]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [56]:
a.symmetric_difference(b)   # Symmetric difference of sets ...It will remove the common element

{1, 2, 3, 6, 7, 8}

In [57]:
b.symmetric_difference(c)

{4, 5, 6, 7, 9, 10}

In [58]:
c ^ a

{1, 2, 3, 4, 5, 8, 9, 10}

In [59]:
""" 
Updates the set calling the symmetric_difference_update() method 
Set a will be updated with the symmetric difference of a & b. 
""" 
a.symmetric_difference_update(b)  #It removes the common elements and adds the unique elements from both sets
a

{1, 2, 3, 6, 7, 8}

In [61]:
a.symmetric_difference_update(c)
a

{1, 2, 3, 6, 7, 8}

# Subset , Superset & Disjoint

In [62]:
a =  {1,2,3,4,5,6,7,8,9} 
b = {3,4,5,6,7,8} 
c = {10,20,30,40}

In [63]:
b.issubset(a)    # Set B is said to be the subset of set A if all elements of B are present

True

In [64]:
a.issuperset(b)   # Set A is said to be the superset of set B if all elements of B are present

True

In [65]:
c.isdisjoint(a)    # Two sets are said to be disjoint sets if they have no common element

True

In [66]:
c.isdisjoint(b)

True

# Other build in function

In [67]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
sum(a)

45

In [69]:
max(a)

9

In [70]:
min(a)

1

In [71]:
len(a)

9

In [72]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [74]:
d = sorted(a,reverse=True)
d

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [75]:
sorted(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]